
body {
  background-color: #E7E8EC;
}

@header_height: 62px;
@header_height_fs: 16px;
//头部样式开始
.header {
  height: @header_height;
  width: 100%;
  line-height: @header_height;
  font-size: @header_height_fs;
  color: #4e4a4b;
  background-color: white;
  > .row {
    position: relative;
    max-width: 1082px;
    margin: 0 auto;
    height: 100%;
    padding-left: 200px;
    padding-right: 30px;
    > .logo {
      position: absolute;
      z-index: 999;
      left: 0;
      top: 0;
      width: 190px;
      text-align: right;
      background: url("../img/logo.jpg") no-repeat left center;
    }
    > .login_out {
      position: absolute;
      font-size: 12px;
      top: 0;
      right: 0;
    }
    > .navbar {
      border: none;
      margin-bottom: 0;

      > .container-fluid {
        padding: 0;
        > .navbar-header {
          margin: 0;
          height: 62px;
          >.navbar-toggle{
            margin-top: 12px;
          }
        }
        > .navbar-collapse {
          padding: 0;
          > .navbar-nav {
            width: 100%;
            margin: 0;
            padding-right: 0;
            > li {
              padding: 0;
              .active
              > a {
                text-align: center;
                line-height: @header_height;
                padding: 0;
                width: 100%;
                height: @header_height;
              }
            }
          }
        }
      }

    }
  }
}
//头部样式结束
//主题样式开始

.content{


}
//主题样式结束
.content{
  max-width: 1082px;
  margin: 22px auto 0;
  background-color: white;
>.info{
  >.user_head{
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;
>img{
  width: 100%;
}
  }
}
}


@media screen and (max-width: 768px) {
  .header > .row {
    max-width: 1082px;
    height: 100%;
    padding-left:0;
    padding-right: 0;
    > .logo {
    left: 50%;
      transform: translateX(-50%);
  }
  }
}