<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>信用资产管理</title>
    <link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
<header class="header">
    <!--<div class="container-fluid"></div>-->
    <div class="row">
        <div class="logo">
            信用资产管理系统
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
                            aria-expanded="false">
                        <span class="sr-only">更多</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav col-md-12">
                        <li class="active col-sm-2"><a href="#">首页<span class="sr-only">(current)</span></a></li>
                        <li class="col-sm-2"><a href="#">还款</a></li>
                        <li class="col-sm-2"><a href="#">消费记录</a></li>
                        <li class="col-sm-2"><a href="#">卡片管理</a></li>
                        <li class="col-sm-2"><a href="#">商户管理</a></li>
                        <li class="col-sm-2"><a href="#">设置</a></li>
                        <li class="hidden-lg hidden-md hidden-sm"><a href="#" class="lo">退出</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="login_out lo hidden-xs">退出</div>
    </div>
</header>
<section class="content">
    <div class="row container-fluid">
        <div class="info col-sm-4">
            <div class="user">
                <span class="head_img"><img src="./img/head-img.jpg" alt=""></span>
                <span class="uname">管理员administrator</span>
            </div>
            <div class="user_cards">
                <div class="item"><span class="fl gray">信用卡数量</span><span class="fr">16张</span></div>
                <div class="item"><span class="fl gray">信用卡数量</span><span class="fr">16张</span></div>
                <div class="item"><span class="fl gray">信用卡数量</span><span class="fr">16张</span></div>
                <div class="item"><span class="fl gray">信用卡数量</span><span class="fr">16张</span></div>
            </div>
            <div class="user_account"></div>
        </div>
        <div class="info_more col-sm-8">
            <table class="table table-bordered">
                <tr>
                    <th>产品编号</th>
                    <th>产品信息</th>
                    <th>产品名称</th>
                    <th>产品价格</th>
                    <th>产品数量</th>
                    <th>产品类别</th>
                    <th >增加</th>
                    <th>删除</th>
                    <th>修改</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td class="success"><span>增加</span></td>
                    <td class="danger"><span>删除</span></td>
                    <td class="info"><span>修改</span></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<script src="./js/jquery/jquery-3.3.1.min.js"></script>
<script src="./js/bootstrap/bootstrap.min.js"></script>
</body>
</html>